@import "reset";
@import "app/styles/variable/global.scss";
@import "app/styles/themes/dark.scss";
@import "app/styles/themes/normal.scss";
@import "app/styles/themes/orange.scss";

body {
  font: var(--font-m);
  color: var(--primary-color);
}

.app{
  min-height: 100vh;
  background: var(--bg-color);
}

.content-page {
  display: flex;
}
